.dstheodoi {
    margin-top: 50px;
    background: #fbfbfb;
    border: 1px solid #e8ecec;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    h3 {
      text-align: center;
      border-bottom: 1px solid #e8ecec;
      margin-bottom: 0;
    }
    .following {
      background-color: #f1f3f4;
      display: inline-block;
      padding: 5px;
      width: 100%;
      border-bottom: 1px solid #e8ecec;
      h5{
        padding: 10px;
        float: left;
      }
      a {
        float: right;
        margin: 5px;
      }
    }
}

.followers {
    margin-top: 50px;
   .search {

   }
   .dstheodoi {
     margin-top: 50px;
   }

   .follower {
      margin: 10px auto;

      .blogpost-footer-author-section {
        background-color: #f4f5f6;
        border: 1px solid #c6cbcf;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        margin-left: 20px;
        margin-right: 10px;
        padding: 20px;
        a {
          margin-top: 10px;
        }
      }
          
      .blogpost-footer-actions {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        font-size: 1.8125rem;
        border-bottom: 1px solid #cacaca;
        padding: 1rem;
      }

      .blogpost-footer-actions-left a,
      .blogpost-footer-actions-left button,
      .blogpost-footer-actions-right a,
      .blogpost-footer-actions-right button {
        color: #0a0a0a;
      }

      .blogpost-footer-actions-left button:hover,
      .blogpost-footer-actions-right button:hover {
        cursor: pointer;
      }

      .blogpost-footer-actions-left a + a,
      .blogpost-footer-actions-left button + button,
      .blogpost-footer-actions-right a + a,
      .blogpost-footer-actions-right button + button {
        margin-left: 0.75rem;
      }

      .blogpost-footer-author-section {
        padding: 1.75rem 1rem;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start;
      }

      .blogpost-footer-author-section .button {
        border-radius: 5000px;
        padding: 0.875rem 1.75rem;
      }



      .blogpost-footer-author {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-flex: 1 0 0;
            -ms-flex: 1 0 0px;
                flex: 1 0 0;
      }

      .blogpost-footer-author .avatar {
        border-radius: 50%;
        height: 3.75rem;
        width: 3.75rem;
      }

      .blogpost-footer-author .author {
        color: #0a0a0a;
        margin-left: 0.75rem;
        font-size: 1.125rem;
        font-weight: 700;
        margin-bottom: 0;
      }

      .blogpost-footer-author .bio {
        margin-left: 0.75rem;
        margin-bottom: 0;
        color: #8a8a8a;
      }


   }
}