.home {
    margin-top: 50px;
    
    .details {
      padding: 5px 5px 0 5px;
    }

    .information {
      margin-top: 15px;
      text-align: center;

      .row {
        background-color: #fff;

      }
    }

    .homeImages {
      margin: 5px 0;
      .chucnang {
        .notability {
          float: left;
          margin: 10px;
          font-size: 100%;
        }
       .card-actions {
         margin-right: 20px;
         float: right;
       }
      }
    }
    .td {
      margin-top: 100px;
    }
    .dsTheoDoi {
      width: 100%;
      background-color: #fff;
      display: inline-flex;
      border-bottom: 1px solid;
      padding: 5px;
      h5 {
        margin: 10px 0 0 20px;
      }
      button {
        margin: 5px 0 0 20px;
      }
    }
    .card-image {
      padding: 5px 5px 0 5px;
    }
    .card-flex-article .card-divider {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      background: transparent;
    }

    .card-flex-article .card-divider p {
      margin-bottom: 0;
    }

    .card-flex-article .card-divider .avatar {
      margin-right: 0.75rem;
    }

    .card-flex-article .avatar {
      position: relative;
    }

    .card-flex-article .avatar img {
      border-radius: 50%;
    }

    .card-flex-article .avatar.with-add-icon .ion-android-favorite {
      position: absolute;
      bottom: 0;
      right: 0;
      color: #cc4b37;
    }

    .card-flex-article .card-actions .ion-android-favorite:not(:last-of-type) {
      margin-right: 1rem;
    }

    .card-flex-article .card-image {
      position: relative;
      
    }

    .card-flex-article .card-tag {
      position: absolute;
      bottom: 1rem;
      left: 1rem;
      text-transform: uppercase;
      font-weight: bold;
      border-radius: 3%;
    }

    .card-flex-article .card-section .article-title {
      font-family: 'Merriweather', serif;
      font-weight: bold;
      font-size: 1.75rem;
      margin-bottom: 0;
    }

    .card-flex-article .card-section .article-details {
      font-size: 0.75rem;
      opacity: 0.5;
      padding-bottom: 0.75rem;
    }

    .card-flex-article .card-section .article-summary {
      font-family: 'Merriweather', serif;
    }

    .card-flex-article .user-info {
      font-size: 0.75rem;
    }

    .card-flex-article .user-info .user-name {
      font-weight: bold;
      margin-bottom: 0;
    }

    .card-flex-article .notability {
      font-size: 0.75rem;
      opacity: 0.5;
    }


    .button-hover-like {
      border: 2px solid #767676;
      background: transparent;
      color: #767676;
      text-transform: uppercase;
      overflow: hidden;
      letter-spacing: 0.07rem;
      transition: all 0.2s ease-in-out;
      position: relative;
    }

    .button-hover-like span {
      transition: all 0.2s ease-in-out;
    }

    .button-hover-like .ion-android-favorite {
      position: absolute;
      font-size: 1.2rem;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      color: #F15261;
      right: -20px;
      transition: 0.4s right cubic-bezier(0.38, 0.6, 0.48, 1);
    }

    .button-hover-like:hover {
      border-color: #1779ba;
      background: transparent;
      transition: border-color 0.2s;
    }

    .button-hover-like:hover span {
      margin-right: 20px;
      color: #1779ba;
    }

    .button-hover-like:hover .ion-android-favorite {
      right: 10px;
    }


}