.section-login {
    width: 40%;
    margin: 0 auto;
    .log-in-form {
        border: 1px solid #cacaca;
        padding: 1rem;
        border-radius: 0;
        background-color: #f6f8f8;
        h4 {
            font-size: 180%;
            font-weight: 600;

        }
    }

}